td{
   	text-align: center;
}
input[type="text"]
{
   	text-align: right;			//not able to apply disabled or read only attribute using css, use jquery loop later
}
input[disabled]
{		
	border: 1px solid #999;
    	color: black;
  	background-color:#EBEBF5;
}
body {
	background-color:grey;
}